/* -------------------------------------------------------------- 
  
   Boilerplate Screen Styles
   * Version:   0.5 (2007-11-19)
   
-------------------------------------------------------------- */

@import "lib/reset.css";
@import "lib/typography.css";
@import "lib/forms.css";


/* Site
-------------------------------------------------------------- */
  
  /* Put your site styles here */

p { margin: 2px; } 
a { color: #004276; } 

.container { 
    margin: 10px auto; 
    width: 99%;
} 
.header { 
} 
.navigation { 
    font-size: 120%;
} 
#clock { 
   top: 10;
   right: 10;
   z-index: 1001;
   background: #fff;
   position:fixed;
} 
.menu { 
    list-style-position:inside;    
    list-style-type: none;
    margin: 0px;} 

.menu li { 
    padding: 5px 20px 4px 20px;
    margin: 0px ;
    display: inline; } 

.menu li.here { 
} 
.content { 
    padding: 20px;
} 

.no-border td { 
    border: none;
} 
.form { 
    margin: 30px 10px 0px 10px; 
    font-size: 120%;
} 
.hint { 
    color: #808080;
} 
.form label { 
    font-weight: normal; 
} 
.form input { } 

.small-form label{ 
    font-weight: normal ; 
    color: #808080; 
} 

ol.breadcrumbs { 
    margin: 1px 0px 0px 0px;
    padding: 5px;
} 

ol.breadcrumbs li { 
   height: 50px;
   display: inline; 
   padding: 5px;
   font-weight: bold; 
} 
ol.breadcrumbs li a { 
} 
ol.breadcrumbs li.active { 
} 
.overview { 
    font-size: 120%; 
    min-width: 500px;    
} 
.overview h4 { 
    margin: 0px;
} 
.overview td { 
    border-bottom:1px solid #DDDDDD;
}
.actions ul { 
    list-style: none;
} 
.actions ul li { 
    padding: 5px;
    margin: 5px;
    background: #99cc00; 
}
.actions ul li a { 
    font-weight: bold;
    padding: 5px;
} 

ul.message li { 
    width: 500px;
} 
.meter-list { 
    list-style-type: none; 
 } 
.intro-box { 
    padding: 10px;
    border: 3px solid #aec8f9; 
    border-radius: 10px; 
    -moz-border-radius: 10px;
    background: #eff3f9; 
    margin: 5px;
} 
.jobs td { padding: 3px; } 
.jobs .active { 
    background: #d4e897; 
} 
.jobs .not-active { 
    background: #e897ab;
} 
.incoming { 
    background: #fae6f7 ; 
} 

.outgoing { 
    background: #e6fae9; 
}

#auth { 
    text-align: right;
    float: right; 
    width: 250px;
    font-size: 15px;
}  

#buttons ul{ 
   display: inline;
   list-style-type: none;  
} 

#buttons li { 
   margin: 5px;
   display: block;
   width: 200px;
} 

.grid { 
    margin-top: 100px;
}
#circuit-grid { 
    border: 1px solid #808080; 
} 
span.underline { 
    text-decoration: underline; 
} 

span.help { 
font-size: 50%;
} 

span.help a { color: red } 

.messages { 
    font-family: monospace ; 
} 
.messages a { color: #004276 ; font-weight: bold; } 

table.incoming-messages td {word-wrap: break-word;}

#addCircuit form { 
    margin: 10px auto;
} 

.error { 
    font-weight: bold; 
    background: red; 
} 
.error p { margin: 5px; } 
.padding { padding: 5px; } 

.widget { margin: 10px; } 
.widget-header { padding: 5px } 
.widget-header .ui-icon { float: right; }
.widget-content { padding: 10px; } 
.widget-content a { color: #004276 ; font-weight: bold; } 
.ui-sortable-placeholder { border: 1px dotted black; visibility:
                           visible !important; height: 50px !important; }     
.ui-sortable-placeholder * { visibility: hidden; }

code { background: white;  
    padding: 10px;
    margin: 10px; }

.index-list li { 
    list-style: none;
    padding: 5px;
}
.center-table table { 
    margin: 10px auto; } 

#tool-menu { 
    z-index: 1000;
    width: 400px;
    background: #F6F6F6;
    position: absolute;
    right: 20;
    top: 165;
    margin: 10px;
} 
#tool-menu ul { list-style: none} 

#tool-menu a { 
    color: #004276;
    font-weight: bold;
} 
#meter-overview h4 { 
   margin: 0px;
} 

#meter-overview { 
   height: 300px;
   list-style: none;
}
 
#tabs-1 { 
  
   height: 300px;
   padding: 0px;
} 

#map { 

} 

#tabs-2 { 
   height: 300px;
} 


#ajax-loader { 
    margin: 10 auto;
    width: 20px;
} 
#ajax-loader img { 
    margin-top: 170px;
    
} 
